/*全局配置*/
a {
    text-decoration: none;
}

/*封面背景start*/
.cover.show {
    background: linear-gradient(to left bottom, hsl(222, 100%, 85%) 0%,hsl(153, 100%, 85%) 100%) !important;
    animation: hue 15s infinite !important;
}
/*定义动画*/
@keyframes hue {
    from { filter: hue-rotate(0deg); }
    to   { filter: hue-rotate(360deg); }
}
/*封面背景end*/

/*定义鼠标指针*/
* {
    cursor:url('https://cdn.jsdelivr.net/gh/xu-ux/common@latest/cursors/SimplifyMintCoffee/x32/01_normal_select.cur'),auto;
}
input, p, pre span, textarea {
    cursor: url('https://cdn.jsdelivr.net/gh/xu-ux/common@latest/cursors/SimplifyMintCoffee/x32/06_text_select.cur'),text !important;
}
a , a span ,.to-top , button , button span {
    cursor:url("https://cdn.jsdelivr.net/gh/xu-ux/common@latest/cursors/SimplifyMintCoffee/x32/15_link_select.cur") ,pointer !important;
}

.disabled , input:disabled , button:disabled{
    cursor:url("https://cdn.jsdelivr.net/gh/xu-ux/common@latest/cursors/SimplifyMintCoffee/x32/08_unavailable32.cur") ,pointer !important;
}

/*弹窗的设置*/
.sweet-alert .sa-button-container .sa-confirm-button-container button{
    display: inline-block !important;
    background-color: #42b983 !important;
    box-shadow: rgb(140 245 148 / 80%) 0px 0px 2px, rgb(0 0 0 / 5%) 0px 0px 0px 1px inset !important;
}
/*弹窗的设置2*/
.swal-button {

    background-color: #42b983 !important;
}

/*内容区*/
.content {
    max-width: 1200px;
    margin: 0 auto;
    /*padding-top: 70px !important;*/
}

/*滚动条样式 start*/
/* 滚动条宽度 */
::-webkit-scrollbar{width:5px;}
/* 滚动条颜色 */
::-webkit-scrollbar-thumb{
    background: #33a9dc;
    background-image: linear-gradient(#6ecd56, #33a9dc, #cb6196, #c16290);
    border-radius: 2em;
}
/*https://www.cnblogs.com/amylis_chen/p/11995324.html*/
::-webkit-scrollbar:horizontal{
    height: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #a9a9a9;
    border-radius: 2em;
}

#customFooter a{
    text-decoration: none !important;
}

.article-footer {
    border: 2px #42b983 dashed;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f8f8f8;
}

/*侧边栏*/
/*左边距调整*/
.sidebar ul {
    margin: 0 0 0 25px !important;
}
/*侧边栏-去除*/
.app-sub-sidebar li::before {
    content: "" !important;
}

/*顶部分类*/
.app-nav {
    position: fixed !important;
}

/*底部*/
/* 置顶插件 */
.to-top {
    display: none;
    padding: 10px 20px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #3ec287;
}

/*选中颜色*/
::selection {
    color:#FFFFFF !important;
    background-color: #d24747 !important;
    text-shadow:none !important;
}
::-moz-selection {
    color:#FFFFFF !important;
    background-color: #d24747 !important;
    text-shadow:none !important;
}

/*md渲染*/
.markdown-section {
    font-size: 1rem !important;
}
.markdown-section blockquote {
    border-left: 5px solid var(--theme-color, #42b983) !important;
    background-color: #f2f9f2;
    padding: 3px 3px 3px 20px;
}
.markdown-section h1:before {
    content: "#";
    margin-right: 10px;
    color: #3ec287;
}
/*md图片*/
.markdown-section img {
    border-radius: 10px;
}

/*代码区颜色*/
/*代码区的圆角*/
.markdown-section pre {
    border-radius: 10px !important;
}

.markdown-section pre,
.markdown-section pre code {
/*    color: #c0c3c1 !important;
    font-family: 'Inconsolata', consolas,"PingFang SC", "Microsoft YaHei", monospace !important;
    background-color: #212121 !important;*/
    color: #ccc !important;
    font-family: 'Inconsolata', consolas,"PingFang SC", "Microsoft YaHei", monospace !important;
    background-color: #2d2d2d !important;
}

.markdown-section .token.atrule,
.markdown-section .token.builtin,
.markdown-section .token.important,
.markdown-section .token.keyword,
.markdown-section .token.selector {
    color: #cc99cd !important;
}

.markdown-section .token.class-name,
.markdown-section .token.constant,
.markdown-section .token.property,
.markdown-section  .token.symbol {
    color: #f8c555 !important;
}

.markdown-section .token.tag {
    color: #f8d486 !important;
}
.markdown-section .token.attr-name {
    color: #9dd0ff;
}

.markdown-section pre code .token.punctuation {
    color: #ccc !important;
}

.markdown-section .token.comment {
    color: #77B767 !important;
}

.markdown-section .token.boolean,
.markdown-section .token.function,
.markdown-section .token.number {
    color: #f08d49 !important;
}

.markdown-section .token.operator{
    color: #f27474 !important
}

.markdown-section strong {
    color: #4677d0 !important;
    font-weight: 600 !important;
    border-bottom: 2px #8aadea dotted;
}
